*{
    margin: 0;
    padding: 0;
}

.flex-container {
    display:flex;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    flex-direction: row;
    
}

.right-side {
    display:flex;
    flex-direction: column;
    width:70vw;
}


.picture {
    background-image: url(./res/image/img1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30vw;
    height: 100vh;

 
}

.logo {  
    height: 13vh;
}

.logo-container {
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.65);


    position: relative;

    top: 24vh;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.left-side h1 {
   
    color:#E5E7EB;
    font-size:40px;
}

.legal {
    position:relative;
    top:80vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color:#E5E7EB;
    font-size:15px;
}
.text {
    display: flex;
    justify-content: left;
    align-items: end;
    background-color: #E5E7EB;
    height:30vh;

}

.text p {
    font-size: 25px;
    padding: 50px;
    padding-left: 60px ;
}

.form {

}

.login {
    display:flex;
    flex-direction: column;
    padding: 1.5em;
    height: 40vh;
    background-color: #E5E7EB;
}

.button {
    margin-bottom: 20px;
}